.App {
  text-align: center;
}

.App-header {
  background-color: #148e77;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}
body {
  background-color: rgb(249, 252, 255);
}
.raisedBox {
  margin-left: 300px;
  margin-right: 300px;
  padding: 100px;
  border: 1px solid #838485;
  box-shadow: -1px 1px #838485,
  -2px 2px #838485,
  -3px 3px #838485,
  -4px 4px #838485,
  -5px 5px #838485;
}

.comment-btn {
  float: right;
}

.feeling-btn {
  float: right;
}

.understand-btn {
  float: right;
}
